<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chess Game</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .chessboard {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr);
      width: 400px;
      height: 400px;
      margin: 50px auto;
      border: 2px solid black;
    }
    .square {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    .square.light {
      background-color: #f0d9b5;
    }
    .square.dark {
      background-color: #b58863;
    }
    .piece {
      font-size: 36px;
      cursor: grab;
      user-select: none;
    }
    .piece.dragging {
      opacity: 0.5;
    }
  </style>
</head>
<body>
  <div class="chessboard"></div>
  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
  <script src="/js/chessGame.js"></script>
</body>
</html>
